html,
body {
    width: 100%;
    height: 100%;
}

section {
  padding: 100px 0;
  background-color: #F7F7F7;
}

/*******************************
TOP
*******************************/

h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 10px 0.5em;
  font-size: 7.5vw;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: calc(100% + 1vw);
  font-weight: lighter;
}

.header-content hr {
    max-width: 80px;
    border-color: #f05f40;
    border-width: 3px;
}

.section-heading {
  font-size: 3em;
  /* font-family: 'Lato', sans-serif; */
  font-weight: 300;
  color: rgb(0, 149, 203);
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.strokeme{
    text-shadow:
    -1px -1px 0 #000,
    0px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    0px 1px 0 #000,
    1px 1px 0 #000;
}

.bg-primary {
  background-color: #0095CB;
}



/*******************************
PORTFOLIO
*******************************/



@media (max-width: 600px) {
  .col-lg-3.col-md-3.col-sm-4.col-xs-6{
    width:100%;
  }
}


/*******************************
PROGRAMING 
*******************************/
#programming{
      background: url(../img/bg1.png) 100% repeat;

}

/*******************************
AWARDS
*******************************/
#awards{
      background-color:seagreen;

}

/*******************************
CONTACT
*******************************/
#contact{
      background-color: black;

}

