<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Form test</title>
</head>
<body>
    <form action="{{ urlFor('form-test') }}" method='post'>
        <label> Herp 1
            <input type='text' name='sites' value='' />
        </label>
        <label> Herp 2
            <input type='text' name='sites' value='' />
        </label>
        <label> Herp 3
            <input type='text' name='sites' value='' />
        </label>

        <label> Derp (the only one).
            <input type='text' name='derp' value='' />
        </label>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="submit" value="THEY DON'T LOVE YOU LIKE I LOVE YOU" />
    
    </form>
</body>
</html>
