{#
    DEAR KIMWUUUUUUUUUUUUUUUUUU,

    I maded this file for you to learn random stuff. Most notably, using
    interpolation (double curly braces) for getting variables and stuff, as
    well as using the `urlFor` function for... getting URLs. See `app.js`
    where there are 'routes.get' lines for the name of URLs and parameters (if
    any).  For example, the job page (which this template should coorespond
    to) takes two parameters: owner and id. So, using urlFor, you could do
    this:

        urlFor('job', { owner: 'pocky', id: 10 })

    Also, uncomment the extends/block junk once you make base.html not crappy.

    Love,
    Shaquile O'Neal

    {% extends 'base.html' %}
    {% block content %}
#}
{% extends 'demo-base.html' %}

{% block content %}
<article>
    <header>
        <h1> Job status </h1>
    </header>

    <section class="summary hidden" id='summary'>
        {# Check this article out: http://css-tricks.com/html5-progress-element/ #}
        <label for="job-pc"> Percent completed: </label>
        <progress id="job-pc" max=100 value="{{ percentage }}"></progress>
    </section>

    <section class="site-breakdown" id="site-breakdown">
        <h2> Site breakdown </h2>
        <ul id="site-list" class="site-list">
        </ul>
    </section>
</article>

<nav class="hidden"> <ul>
    {#
        By the way, look at app/routes.js for definition of the route names.
    #}
    <li>
        <a href='{{ urlFor('home') }}'> To home page </a>
    </li>
    <li>
        <a href='{{ urlFor('contact-us') }}'> Contact us </a>
    </li>
    <li>
        <a href='{{ urlFor('terms-of-use') }}'> Terms of service, yo. </a>
    </li>
</ul> </nav>

{% endblock %}

{#
    IGNORE THE BOTTOM OF THIS FILE!

    This is pretty poor practice but whatever.
#}
{% block title %}{{ job.job_id }}{% endblock %}

{% block headports %}
<script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.2/zepto.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
{# A template within a template. Because. #}
<script id="t-job" type="text/template">
<h3 class="site-title"> <a href="http://<%= url %>"><%- url %></a> </h3>
<dl class="site-info">
  <dt class="done"> Pages done </dt> <dd> <%- done %> </dd>
  <dt class="error"> Errors </dt> <dd> <%- error %> </dd>
</dl>
</script>
<script>
$(function () {
  var Site = Backbone.Model.extend({
    idAttribute: "url",

    defaults: {
      error: 0,
      pages: 0
    },

    visited: function () {
      return this.get('pages') > 0;
    },

    hasError: function () {
      return this.get('error') > 0;
    },
  });

  var Job = Backbone.Collection.extend({
    model: Site,
    /* Sort in reversed order by pages done. */
    comparator: function (site) { return -site.get('pages'); }
  });

  var renderTemplate = _.template($('#t-job').text());

  var SiteView = Backbone.View.extend({
    tagName: 'li',
    initialize: function () {
      this.listenTo(this.model, "change", this.render);
      /* Do the initial render. */
      this.render();
    },
    render: function () {
      var data = {
        url: this.model.get('url'),
        done: this.model.get('pages'),
        error: this.model.get('error'),
      }
        , html = renderTemplate(data);

      this.$el.html(html);

      /* Add some stylistic classes. */
      if (!this.model.visited()) {
          this.$el.addClass('not-visited');
      } else if (this.model.hasError()) {
          this.$el.addClass('has-errors');
      }
    }
  });

  /* Observes a Job collection. */
  var JobView = Backbone.View.extend({
    initialize: function () {
      this.listenTo(this.collection, "add", this.render);
      /* Do the initial render. */
      this.render();
    },

    /* All managed views, one per site. */
    managed: [],

    render: function () {
      var self = this;
      this.setElement($('#site-list').get(0)); // hard-coded selector...

      /* Delete all the sites. */
      _.each(this.managed, function (view) {
          view.remove();
      });

      /* Re-append all the views. */
      this.managed = this.collection.map(function (job) {
          var view =  new SiteView({ model: job });
          self.$el.append(view.$el);
          return view;
      });
    }

  });

  /* Set up the Backbone collection and its view... */
  var job = window.job = new /*Wolf*/Job();
  /* Server side shenannigans. */
  job.url = '{{ urlFor("job", {job_id: job.job_id }) }}',
  job.reset({{ job.sites | json | safe }});

  window.jobView = new JobView({ collection: job });

  /* Periodically refresh the collection. */
  (function () {
    var errorTolerance = 3;
    var timeout = 30000;

    function schedule() {
      setTimeout(fetch, timeout);
    }

    function fetch() {
      job.fetch({
        success: schedule,
        error: function () {
          errorTolerance -= 1;
          if (errorTolerance) {
            schedule();
          } else {
            console.log("Could not fetch collection (tried 3 times).");
          }
        }
      })
    }

    schedule();
  }());

});
</script>

{% endblock %}
