<!DOCTYPE html>
<html lang="en">
<head>
	<title> Cultr </title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/main_style.css" />
	<link rel="stylesheet" type="text/css" href="css/slide_style.css" />

    <script>
       var CSRF_TOKEN = "{{ csrfToken }}";
    </script>

<script type="text/javascript">
            $jQuery_1_7_1(function() {
                $jQuery_1_7_1('#').localScroll(800);
            });
        </script>

</head>
<body>
	<div id="terms-body">

	<ul id="nav">
	    <li><a href="{{ urlFor('home') }}">Back to Main Page</a></li>
	</ul>


<script type="text/javascript">
            $jQuery_1_7_1(function() {
                $jQuery_1_7_1('#nav').localScroll(800);
                $jQuery_1_7_1('#footer').localScroll(800);
                $jQuery_1_7_1('#third').parallax("50%", 1.2);
                $jQuery_1_7_1('#first').parallax("50%", 1.5);
                $jQuery_1_7_1('.bg-header').parallax("50%", 1.2);
                $jQuery_1_7_1('.bg-top-1').parallax("50%", 1.3);
                $jQuery_1_7_1('#second-content').parallax("50%", 1.2);
            });
        </script>
	<div id="terms-container">
		

<p>
    <h1><strong>TERMS OF SERVICE AGREEMENT</strong></h1>
</p>
<p>
    This Terms of Service Agreement (the “Agreement”) is an agreement between you (the “User”) and Cultr. ("Cultr", "we", or "us"). We provide Users with
    access to certain Materials (as defined below) to help our users access and analyze text and image-based data found on the Web (collectively, the
    “Services”) directly and through the website and associated domains of http://cultr.business.ualberta.ca (the “Site”). We've tried really hard to keep this
Agreement as readable and straightforward as possible. If you have suggestions that can help us improve it or any questions about this Agreement, please    <a href="http://cultr.business.ualberta.ca/contact">email us</a> and let us know. This Agreement explains our obligations to you, and your obligations to
    us. This Agreement is the entire Agreement between us. By using the Site in any way you are agreeing to comply with these terms, and any other legal
    notices or conditions or guidelines posted on the Site which we may update without notice and encourage you to check out here at any time.
</p>
<p>
    1. What We Own
</p>
<p>
    All material and services available on the Site, and all material and services provided by or through Cultr, its affiliates, subsidiaries, employees,
    agents, licensors or other commercial partners including, but not limited to, software, all informational text, software documentation, design of and "look
    and feel," layout, photographs, graphics, audio, video, messages, interactive and instant messaging, design and functions, files, documents, images, or
    other materials, whether publicly posted or privately transmitted as well as all derivative works thereof (collectively, the "Materials"), are owned by us
    or other parties that have licensed their material or provided services to us, and are protected by copyright, trademark, trade secret and other
    intellectual property laws. All Cultr trademarks and service marks, logos, slogans and taglines are the property of Cultr. All other trademarks, service
    marks, logos, slogans and taglines are the property of their respective owners. Except as otherwise specifically provided herein, nothing should be
    construed as granting any license or right to use any trademarks, service marks, logos, slogans or taglines displayed on Cultr without our express written
    permission, or the express written permission of such third-party that may own the trademark, service mark, logo, slogan or tagline.
</p>
<p>
    2. Rights to Use What We Own
</p>
<p>
    Subject to this Agreement, Cultr hereby grants you a limited, revocable, non-transferable and non-exclusive license to use the Materials through a user
    identification reference provided by Cultr (“User ID”) to the extent, and only to the extent, necessary to access and use the Services in accordance with
    the terms of this Agreement. This license does not permit you, and you agree not to: store, copy, reproduce, republish, modify, upload, post, translate,
    scrape, rent, lease, loan, sell, distribute, transfer, transmit, display, decompile, reverse engineer, reverse assemble, decipher or otherwise attempt to
    discover any programming code or any source code used in or with the Materials or otherwise distribute in any way the Materials other than as specifically
    permitted in this Agreement. You may not sell, assign, sublicense, grant a security interest in or otherwise attempt to transfer any right in the
    Materials, create derivative works based on or in any manner commercially exploit the Materials, in whole or in part, other than as expressly permitted in
    this Agreement. Any use of the Materials for any purpose other than as specifically permitted herein or without our prior consent or the prior written
    consent of our licensors, as applicable, is expressly prohibited. We reserve all rights not expressly granted in this Agreement.
</p>
<p>
    We will provide you one User ID for each account held by you, thereby permitting you access to the Materials on one computer at a time through the Site.
    You agree to fully and accurately provide the information requested by us when setting up your accounts and to regularly update such information. Your
    failure to do so may result in the cancellation of your account and loss of Services. You further agree (a) not to provide User IDs to anyone who is not
    your employee, and (b) to ensure all individuals permitted to use the User IDs are aware of and have agreed in writing to comply with the terms of this
    Agreement.
</p>
<p>
    As part of the Services, we may provide you a sample website which may be populated with sample content provided by us to illustrate how your final site
    might look (“Sample Content”). You agree that you will not make this Sample Content publicly available and that you will remove all Sample Content from
    your site before permitting any third party users to access or view your site.
</p>
<p>
    3. What You Provide to Us
</p>
<p>
    You are legally responsible for all information, data, text, software, music, sound, photographs, graphics, video, messages or other materials uploaded,
    posted or stored in connection with your use of the Services (“Content”). Cultr is not responsible for your Content. You hereby grant Cultr a worldwide,
    royalty-free, non-exclusive license to host and use the Content in order to provide you with the Services and hereby represent and warrant that you have
    all the rights necessary to grant us such license. You are responsible for any Content that may be lost or unrecoverable through your use of the Services.
    You are encouraged to archive your Content regularly and frequently.
</p>
<p>
    4. Giving Us Access to Other Accounts and Services
</p>
<p>
    Some of our Services may require you to give us access to or require you to provide login information and password information for accounts or services you
    may have with third party providers. When you provide this information to us or give us access to these third party accounts you agree that you have read
    all contracts and written agreements governing such access, login information and passwords and that you have all the necessary contractual and legal
    rights to give us such access, login information and passwords.
</p>
<p>
    5. Comments and Feedback
</p>
<p>
    Any questions, comments, suggestions, ideas, feedback, or other information provided by you to us (“Comments”) are not confidential and you hereby grant us
    a worldwide, perpetual, irrevocable, royalty-free license to reproduce, display, perform, distribute, publish, modify, edit or otherwise use such Comments
    as we deem appropriate, for any and all commercial and/or non-commercial purposes, in our sole discretion.
</p>
<p>
    6. Monitoring What You Provide Us
</p>
<p>
    Cultr may, but has no obligation to, monitor Content on the Site or websites created using our Services. We may disclose any information necessary or
    appropriate to satisfy our legal obligations, protect Cultr or its customers, or operate the Services properly. Cultr, in its sole discretion, may refuse
    to accommodate any Content, in whole or in part, alleged to be unacceptable, undesirable, inappropriate, or in violation of this Agreement.
</p>
<p>
    7. Copyright Complaint Policy
</p>
<p>
    If you believe any Materials infringe your copyrighted works, you may provide a notification of claimed copyright infringement to our us for copyright
    complaints.
</p>
<p>
    8. Rules
</p>
<p>
    You agree to all of the following:
    <br/>
    a. You hereby certify that you are at least 18 years of age.
    <br/>
    b. You will ensure the email address provided in your account registration is valid at all times and will keep your contact information accurate and
    up-to-date.
    <br/>
    c. You will not use the Services or Materials for any unlawful purposes or to conduct any unlawful activity, including, but not limited to, fraud,
    embezzlement, money laundering or insider trading.
    <br/>
    d. You will not use the Services or Materials if you are located in a country embargoed by Canada.
    <br/>
    e. You will not use the Services or Materials to impersonate another person.
    <br/>
    f. You will not imply or state, directly or indirectly, that you are affiliated with or endorsed by Cultr without our express written permission.
    <br/>
    g. You may not send unsolicited messages (also known as junk mail or SPAM) to promote any website published on the Site.
    <br/>
    h. You may not upload, post, email, transmit or otherwise make available or initiate any Content that contains software viruses, worms, Trojan horses or
    any other computer code, files or programs that interrupt, destroy or limit the functionality of the Services or the Materials or that may impact the
    ability of any Cultr user to access the Services.
    <br/>
    i. You will not access the Services through automated methods. The Services may only be used or accessed through an electronic device through manual
    control at all times.
    <br/>
    j. You may not send messages using the Services which do not correctly identify the sender and you may not alter the attribution of origin in electronic
    mail messages or postings.
    <br/>
    k. You will not share your password, let anyone else access your account, or do anything that might jeopardize the security of your account. You will not
    attempt to or actually access the Services or Materials by any means other than through the interfaces provided by Cultr.
    <br/>
    l. You will not attempt to or actually override any security component included in or underlying the Materials or Services.
    <br/>
    m. You will not attempt or engage in any action that directly or indirectly interferes with the proper working of or places an unreasonable load on Cultr’s
    infrastructure.
</p>
<p>
    Cultr may determine in its sole discretion whether or not an account is in violation of any of these policies. Violation of any of these policies may
    result in user information tracking with such information being stored to identify the offending user. Offending users may be permanently restricted from
    holding an account or using the Services. If Cultr reasonably determines that your account is being used for illegal or fraudulent activity then your
    account may be immediately terminated and your financial data erased. We may also report you to law enforcement officials in the appropriate jurisdictions.
</p>
<p>
    9. Termination
    <br/>
    a. Services may be terminated by us, without cause, at any time.
    <br/>
    b. Services may be terminated by you, without cause.
    <br/>
    c. Cultr may terminate Services at any time, without penalty and without notice, if you fail to comply with any of the terms of this Agreement or the
    intellectual property protections applicable to these Services.
    <br/>
    d. Notice of termination of Services by Cultr may be sent to the contact e-mail associated with your account. Upon termination, Cultr has the right to
    delete all data, files, or other information that is stored in your account.
</p>
<p>
    10. Links to Third Party Websites; No Implied Endorsement
</p>
<p>
    The Site may contain links to other web sites owned by third parties. Please note that when you click on any of these links, you are entering another
    website for which we have no responsibility or control. You agree that we shall not be responsible for any loss or damage of any sort incurred as a result
    of any such links or as the result of the presence of such links on the Site. In no event shall any reference to any third party, third party website or
    third party product or service be construed as an approval or endorsement by us of that third party, third party website or of any product or service
    provided by a third party.
</p>
<p>
    11. DISCLAIMER OF WARRANTY
</p>
<p>
    THE SITE, SERVICES AND MATERIALS ARE PROVIDED “AS IS,” “AS AVAILABLE,” “WITH ALL FAULTS” AND WITHOUT ANY WARRANTY OF ANY KIND, EXPRESS OR IMPLIED. TO THE
    FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, CULTR AND ITS LICENSORS DISCLAIM ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT
    LIMITED TO, ANY IMPLIED WARRANTIES OF TITLE, MERCHANTIBILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING,
    NEITHER CULTR NOR ITS LICENSORS WARRANT THAT ACCESS TO THE SITE, THE MATERIALS AND/OR THE SERVICES AVAILABLE ON OR THROUGH THE SITE WILL BE UNINTERRUPTED
    OR ERROR-FREE, OR THAT DEFECTS, IF ANY, WILL BE CORRECTED; NOR DOES CULTR OR ITS LICENSORS MAKE ANY REPRESENTATIONS ABOUT THE ACCURACY, RELIABILITY,
    CURRENCY, QUALITY, COMPLETENESS, USEFULNESS, PERFORMANCE, SECURITY, LEGALITY OR SUITABILITY OF THE SERVICES, THE MATERIALS OR THE SITE. YOU EXPRESSLY AGREE
    THAT YOUR USE OF THE SITE AND YOUR RELIANCE UPON THE SERVICES AND/OR THE MATERIALS IS AT YOUR SOLE RISK. IN ADDITION, CULTR IS NOT RESPONSIBLE, AND MAKES
    NO REPRESENTATIONS OR WARRANTIES FOR THE DELIVERY OF ANY MESSAGES (SUCH AS EMAILS, POSTING OF ANSWERS OR TRANSMISSION OF ANY OTHER USER GENERATED CONTENT)
    SENT THROUGH THE SITE TO ANYONE.
</p>
<p>
    IN ADDITION, YOU ACKNOWLEDGE AND AGREE THAT ANY DATA, INFORMATION, CONTENT OR MATERIALS CONTAINED IN OR MADE AVAILABLE IN CONNECTION WITH THE SERVICES IS
    NOT INTENDED AS A SUBSTITUTE FOR, THE KNOWLEDGE, EXPERTISE, SKILL AND JUDGMENT TAX, LEGAL OR OTHER PROFESSIONALS. THE SERVICES DO NOT PROVIDE TAX OR LEGAL
    ADVICE. YOU ARE RESPONSIBLE FOR OBTAINING SUCH ADVICE.
</p>
<p>
    FURTHER, CULTR AND ITS LICENSORS MAKE NO REPRESENTATION OR WARRANTIES THAT THE SERVICES OR THE MATERIALS OR THE SITE ARE APPROPRIATE OR AVAILABLE FOR USE
    IN ALL GEOGRAPHIC LOCATIONS. IF YOU USE THE SITE, THE SERVICES OR THE MATERIALS OUTSIDE THE UNITED STATES OF AMERICA, YOU ARE SOLELY RESPONSIBLE FOR
    COMPLIANCE WITH ALL APPLICABLE LAWS, INCLUDING WITHOUT LIMITATION EXPORT AND IMPORT REGULATIONS OF OTHER COUNTRIES. NEITHER CULTR NOR ANY THIRD PARTY
    PROVIDERS, PARTNERS OR AFFILIATES WARRANT THAT THE SITE,ITS SERVERS THE MATERIALS OR THE SERVICES OR ANY E-MAIL SENT FROM THE SITE OR ANY THIRD PARTY
    PROVIDERS, PARTNERS OR AFFILIATES ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
</p>
<p>
    THIS AGREEMENT APPLIES SOLELY TO THE SITE. AS PART OF THE SERVICES PROVIDED TO OTHER CULTR USERS, WE HOST WEBSITES FOR CERTAIN THIRD PARTIES (“THIRD PARTY
    SITES”). THIRD PARTY SITES INCLUDE CONTENT GENERATED BY THIRD PARTIES AND ARE NOT UNDER THE MANAGEMENT AND CONTROL OF CULTR. CULTR IS NOT RESPONSIBLE FOR
    SUCH THIRD PARTY SITES, INCLUDING WITHOUT LIMITATION, THE ACCURACY, SUFFICIENCY, CORRECTNESS, RELIABILITY, VERACITY, COMPLETENESS OR TIMELINESS THEREOF,
    ANY LINK CONTAINED THEREIN, OR ANY CHANGES OR UPDATES THERETO, OR ANY GOODS OR SERVICES SOLD THEREON. YOUR ACCESS OR USE OF ANY THIRD PARTY SITE IS
    GOVERNED BY THE TERMS APPLICABLE TO SUCH THIRD PARTY SITE. THE HOSTING OF ANY THIRD PARTY SITE BY CULTR DOES NOT IMPLY AN ENDORSEMENT THEREOF BY CULTR, OR
    OF THE PROVIDER OF SUCH CONTENT OR SERVICES, OF ANY THIRD PARTY SITE.
</p>
<p>
    12. LIMITATION OF LIABILITY
</p>
<p>
    WE ARE NOT LIABLE TO YOU OR ANY OTHER PERSON FOR DAMAGES OF ANY KIND, INCLUDING WITHOUT LIMITATION ANY PUNITIVE, EXEMPLARY, CONSEQUENTIAL, INCIDENTAL,
    INDIRECT OR SPECIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, ANY PERSONAL INJURY, LOST PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR OTHER DATA ON
    YOUR COMPUTER OR OTHERWISE) ARISING FROM OR IN CONNECTION WITH USE OF THE SITE, THE SERVICES, THE MATERIALS, YOUR CONTENT, THE COMMERCIAL PRODUCTS OR ANY
    THIRD PARTY USER GENERATED CONTENT AVAILABLE ON OR THROUGH THE SITE, WHETHER UNDER A THEORY OF BREACH OF CONTRACT, NEGLIGENCE, STRICT LIABILITY,
    MALPRACTICE OR OTHERWISE, EVEN IF CULTR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU HEREBY RELEASE CULTR AND HOLD CULTR AND ITS PARENTS,
    SUBSIDIARIES, AFFILIATES, LICENSORS, AND THEIR OFFICERS, DIRECTORS, TRUSTEES, AFFILIATES, SUBCONTRACTORS, AGENTS AND EMPLOYEES, HARMLESS FROM ANY AND ALL
    CLAIMS, DEMANDS, AND DAMAGES OF EVERY KIND AND NATURE (INCLUDING, WITHOUT LIMITATION, ACTUAL, SPECIAL, INCIDENTAL AND CONSEQUENTIAL), KNOWN AND UNKNOWN,
    SUSPECTED AND UNSUSPECTED, DISCLOSED AND UNDISCLOSED, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THE SERVICES, MATERIALS, SITE, YOUR CONTENT,
    COMMERCIAL PRODUCTS OR ANY THIRD PARTY USER GENERATED CONTENT AVAILABLE ON OR THROUGHTHE SITE. YOU HEREBY WAIVE THE PROVISIONS OF ANY STATE OR LOCAL LAW
    LIMITING OR PROHIBITING A GENERAL RELEASE.
</p>
<p>
    13. EXCLUSIVE REMEDY
</p>
<p>
    IN THE EVENT OF ANY PROBLEM WITH THE SITE, THE SERVICES, THE MATERIALS, YOU AGREE THAT YOUR SOLE AND EXCLUSIVE REMEDY IS TO CEASE USING THE SITE, THE
    SERVICES AND THE MATERIALS. UNDER NO CIRCUMSTANCES SHALL CULTR, ITS AFFILIATES, OR LICENSORS BE LIABLE IN ANY WAY FOR YOUR USE OF THE SITE, THE SERVICES,
    THE MATERIALS, YOUR CONTENT, THE COMMERCIAL PRODUCTS OR THIRD PARTY USER GENERATED CONTENT AVAILABLE ON OR THROUGH THE SITE, INCLUDING, BUT NOT LIMITED TO,
    ANY ERRORS OR OMISSIONS, ANY INFRINGEMENT OF THE INTELLECTUAL PROPERTY RIGHTS OR OTHER RIGHTS OF THIRD PARTIES, OR FOR ANY LOSS OR DAMAGE OF ANY KIND
    INCURRED AS A RESULT OF, OR RELATED TO, THE USE OF THE SITE, THE SERVICES, THE MATERIALS, YOUR CONTENT, THE COMMERCIAL PRODUCTS OR ANY THIRD PARTY USER
    GENERATED CONTENT AVAILBALE ON OR THROUGH THE SITE. Certain states and/or jurisdictions do not allow the exclusion of implied warranties or limitation of
    liability for incidental or consequential damages, so the exclusions set forth above may not apply to you.
</p>
<p>
    14. Termination/Exclusion
</p>
<p>
    We may modify, replace, refuse access to, suspend or discontinue the Services, partially or entirely, or add, change and modify prices for all or part of
    the Services for you or for all our users at any time and in our sole discretion. All of these changes shall be effective upon their posting on the Site or
    by direct communication to you unless otherwise noted. We further reserve the right to withhold, remove and or discard any content available as part of
    your account, with or without notice if deemed by us to be contrary to this Agreement. For avoidance of doubt, Cultr has no obligation to store, maintain
    or provide you a copy of any content that you or other users provide when using the Services.
</p>
<p>
    15. Indemnification
</p>
<p>
    You agree to indemnify, hold harmless, and defend Cultr and its licensors, suppliers, officers, directors, employees, agents, affiliates, subsidiaries,
    successors and assigns (collectively "Indemnified Parties") from and against any and all liability, loss, claim, damages, expense, or costs (including but
    not limited to attorneys' fees), incurred by or made against the Indemnified Parties in connection with any claim arising from or related to (i) your use
    (or anyone using your account’s) use of the Services, the Site or the Materials, (ii) your Content, or (iii) any Commercial Products you offer on or
    through the Site or using our Services. This includes, but is not limited to, any breach or violation of this Agreement by you or anyone utilizing your
    account. You agree to fully cooperate at your expense as reasonably required by an Indemnified Party. Each Indemnified Party may, at its election, assume
    the defense and control of any matter for which it is indemnified hereunder. You shall not settle any matter involving an Indemnified Party without the
    consent of the applicable Indemnified Party.
</p>
<p>
    16. Amendments
</p>
<p>
    We reserve the right, in our sole discretion, to modify or replace any part of this Agreement at any time. It is your responsibility to check this
    Agreement periodically for changes. Your continued use of or access to the Services following the posting of any changes to this Agreement constitutes
    acceptance of those changes. We may also, in the future, offer new services and/or features through Site (including, the release of new tools and
    resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.
</p>
<p>
    17. Disputes
</p>
<p>
    The formation, interpretation and performance of this Agreement and any disputes arising out of it shall be governed by the substantive and procedural laws
    of the state of New York without regard to its rules on conflicts or choice of law and, to the extent applicable, the laws of the United States of America.
    The exclusive jurisdiction and venue for actions related to the subject matter hereof shall be the state and federal courts located in New York, New York,
    and you hereby submit to the personal jurisdiction of such courts. You hereby waive any right to a jury trial in any proceeding arising out of or related
    to this Agreement. The United Nations Convention on Contracts for the International Sale of Goods does not apply to this Agreement.
</p>
<p>
    18. Privacy
</p>
<p>
    We encourage you to read the <a href="http://www.squarespace.com/privacy">Privacy Policy</a>, and to use the information it contains to help you make
    informed decisions. Please also note that certain information, statements, data and content (such as photographs) which you post to the Site are likely to
    reveal your gender, ethnic origin, nationality, age, and/or other personal information about you. You acknowledge and agree that your submission of such
    information is voluntary on your part. Further, you acknowledge, consent and agree that we may access, preserve, and disclose your registration and any
    other information you provide if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary in
    our opinion Disclosures of user information to third parties are further addressed in the <a href="http://www.squarespace.com/privacy">Privacy Policy</a>.
</p>
<p>
    19. Other
</p>
<p>
    You acknowledge that a violation or attempted violation of any of this Agreement will cause such damage to Cultr as will be irreparable, the exact amount
    of which would be impossible to ascertain and for which there will be no adequate remedy at law. Accordingly, you agree that Cultr shall be entitled as a
    matter of right to an injunction issued by any court of competent jurisdiction, restraining such violation or attempted violation of these terms and
    conditions by you, or your affiliates, partners, or agents, as well as to recover from you any and all costs and expenses sustained or incurred by Cultr in
    obtaining such an injunction, including, without limitation, reasonable attorney's fees. You agree that no bond or other security shall be required in
    connection with such injunction.
</p>
<p>
    In no event shall you be entitled to rescission, injunctive or other equitable relief, or to enjoin or restrain the operation of Cultr, the exploitation of
    any advertising or other materials issued in connection therewith, or the exploitation of the Site or any content used or displayed through the Site.
</p>
<p>
    <a name="_GoBack"></a>
    20. Miscellaneous
</p>
<p>
    a. If any portion of this Agreement is found to be unenforceable, the remaining portion will remain in full force and effect.
    <br/>
    b. If we fail to enforce any of this Agreement, it will not be considered a waiver.
    <br/>
    c. Any amendment to or waiver of this Agreement must be made in writing and signed by us.
    <br/>
    d. You will not transfer any of your rights or obligations under this Agreement to anyone else without our prior written consent.
    <br/>
    e. All of our rights and obligations under this Agreement are freely assignable by us in connection with a merger, acquisition, or sale of assets, or by
    operation of law or otherwise.
    <br/>
    f. This Agreement does not confer any third party beneficiary rights.
    <br/>
    g. A printed version of this Agreement and of any related notice given in electronic form shall be admissible in judicial or administrative proceedings
    based upon or relating to this Agreement to the same extent and subject to the same conditions as other business documents and records originally generated
    and maintained in printed form.
</p>
			</div> <!--.story-->









            <a href="#nav" class="go-top">Top</a>

<!-- JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Show or hide the sticky footer button
            $(window).scroll(function() {
                if ($(this).scrollTop() > 5000) {
                    $('.go-top').fadeIn(200);
                } else {
                    $('.go-top').fadeOut(200);
                }
            });
            
            // Animate the scroll to top
            $('.go-top').click(function(event) {
                event.preventDefault();
                
                $('html, body').animate({scrollTop: 0}, 400);
            })
        });
    </script>

    <a href="#nav" class="go-top">Top</a>
            <div id="bottom-2">
                <ul id="footer">
                <li><a class="nav-2"class="link-highlight" href="mailto:youremailaddress">Contact us</a></li>
                <li><a class="nav-2" href="{{ urlFor('home') }}">Main Page</a></li>

                <a a href="http://www.ualberta.ca" id="logo"></a> 

            </ul>

        </div> <!-- #bottom -->




        <footer>
            <p class="copyright">
            Copyright &copy; 2014 Cultr. All rights reserved.
            </p>
        </footer>

    </div>

</body>
</html>
