@charset 'UTF-8';

body {
	font-family: "Helvetica Neue", "Helvetica";
	margin: 30px auto 60px;
	max-width: 768px;
	color: #333;
	background-color: #f6f6ff;
}

.hidden { display: none; }

h1 { font-size: 3em;}

ul.site-list {
	list-style: none;
	margin: 0; padding: 0;
}

dl.site-info > * {
	display: inline-block;
	width: 100px;
	margin-right: 20px;
}

dl.site-info > dd {
	margin-left: 0px;
}

dd { font-weight: bold; }


.has-errors > .site-title {
	color: #900;
}

.not-visited {
	opacity: 0.6;
}

.site-list > li { padding: 1px 20px 6px }

.site-list > li:hover {
	background-color: rgba(255,255,255,0.8);
}

.site-title a { color: inherit; text-decoration: none }
/*.site-title a:link, .site-title a:visited */
.site-title a:hover, .site-title a:active { text-decoration: underline }
.site-title a:visited { opacity: 0.5 }